.container {
    max-width: 600px;
    margin:100px auto;
    padding: 20px;
    background-color: #ffffffbb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(11, 83, 67, 0.267);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 40px;
}

.agree-container p {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.703);
    border: 1px solid #a7a296;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.checkbox {
    margin-bottom: 10px;
}

.checkbox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-top: 20px;
    display: inline-block; /* 인라인 블록으로 설정하여 가로 정렬 */
    vertical-align: middle; /* 수직 정렬을 가운데로 설정 */
    margin-right: 10px;
}

.checkbox label {
    display: inline-block; /* 인라인 블록으로 설정하여 가로 정렬 */
    vertical-align: middle; /* 수직 정렬을 가운데로 설정 */
    font-size: 13px;
    margin-top: 18px;
    margin-left: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #588D71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
