.App {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }

  body {
    margin-bottom: 20px; /* body와 footer 사이의 아래쪽 여백 추가 */
    background-color: #4d7661;
  }
  
  header {
    background-color: #f5f1ee84;
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 1px solid #a7a296;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
    background-color: #F5F1EE;
    border-radius: 10px;
    border: 1.5px solid #2a3431d3;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.452);
    color: #ffffffc3;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 0; /* 왼쪽 정렬 추가 */
    right: 0; /* 오른쪽 정렬 추가 */
}

  .App p {
    text-align: center;
  }


  .first-content p {
    /* 스타일 내용 */
    font-size: 20px;
    font-weight: bold;
    color: #F5EDE6;

    -webkit-text-stroke: 1px #2a3431d3; /* 글자 테두리 색상과 너비 설정 */

    margin-top: 0;
    margin-bottom: 18px;
  }

.title-content {
    background-color: #f5ede6d6;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1.5px solid #2a3431d3;
}

.title-content h2 {
    color: #333;
    font-size: 24px;
    text-align: left;
    margin: 10px;
    padding: 12px;
  }

  summary::-webkit-details-marker { /* Safari 브라우저용 사용자 정의 스타일 */
    display: none;
}
summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
    font-weight: bold;
    margin: 12PX;
}

/* Summary가 열렸을 때의 스타일 */
details[open] summary {
   color: #5d4f13;
}


.start-content {
    text-align: left; /* 내용을 좌측 정렬로 설정 */ 
}

.second-content {
    text-align: left; /* 내용을 좌측 정렬로 설정 */
}

.third-content {
    text-align: left; /* 내용을 좌측 정렬로 설정 */
   
    margin-bottom: 20px;
}
